<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/login" th:object="${usuario}" method="post">
        <input type="text" th:field="*{email}" placeholder="Digite o email">
        <input type="password" th:field="*{senha}" placeholder="Agora sua senha">
        <button>Entrar</button>
        <a href="/home">Entrar Link</a>
    </form>
</body>

</html>